%footer
  .row
    .col-lg-8.offset-lg-2
      .footer-block
        %img{src: "/assets/keppler_frontend/app/logo_2xale_white.svg"}
        .footer-list
          %ul.contact-list
            %li
              %strong Teléfonos
              %br
              +58 4120640761 / 414 6300761
            %li
              %strong Correo Electrónico
              %br
              %a{href:''} atencionalcliente@2xale.com
          %ul.rrss
            %li
              %a{href:'https://www.facebook.com/2xale'}
                %i.icofont-facebook
            %li
              %a{href:'https://www.instagram.com/2xaleofficial/'}
                %i.icofont-instagram
            %li
              %a{href: 'https://twitter.com/2xaleve'}
                %i.icofont-twitter
          %ul.contact-list
            %li
              %a{:download => "Términos y condiciones 2xale", :href => "/Términos_y_Condiciones_2xale.pdf"} Términos y condiciones
        %small.copyright
          Copyright 2Xale 2019 | Powered by
          %a{href:''} Slice Group
          with
          %a{href:''} Keppler
