%nav.navbar.navbar-expand-lg{ class: action_name.eql?('index') ? '' : 'navbar-variant' }
  %a.navbar-brand{href: app_index_path}
    %img{ src: '/assets/keppler_frontend/app/logo_2xale_color2.svg', alt: '2xale logo' }
  %button.navbar-toggler{"aria-controls" => "nav2xale", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#nav2xale", "data-toggle" => "collapse", type: "button"}
    %span.icofont-navigation-menu
  #nav2xale.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.d-block.d-md-none
        .search-navbar
          = simple_form_for @product, url: app_search_path(), method: :get, class: 'form-inline' do
            .input-group
              %input.form-control#input-responsive{ type: 'search', placeholder: 'Buscar', name: 'q'}
              .input-group-prepend
                %i.icofont-search.input-group-text.search-responsive
          :javascript
            $('.search-responsive').click(function(){
              if ($('#input-responsive').val().length > 0){
                $('#new_product').submit()
              }
            })
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
          Categorías
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          - @categories.in_groups_of(4).each do |block|
            %ul.list-categories
              - block.compact.each do |category|
                %li
                  %a.dropdown-item.dropdown-subcategory{href: app_category_path(category)}= category&.name
        %li.nav-item
          %a.nav-link{href: "/about"} Contáctanos
    %ul.navbar-nav.ml-auto.navbar-contact
      %li.nav-item
        %a.nav-link{href: "#"}
          %i.icofont-email
          atencionalcliente@2xale.com
      %li.nav-item
        %a.nav-link{href: "#"}
          %i.icofont-phone
          +58 414 6300761 / 4120640761 
