%nav.navbar.navbar-expand-lg{ class: action_name.eql?('index') ? '' : 'navbar-variant' }
  %a.navbar-brand{href: app_index_path}
    %img{ src: '/assets/keppler_frontend/app/logo_2xale_color2.svg', alt: '2xale logo' }
  %button.navbar-toggler{"aria-controls" => "nav2xale", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#nav2xale", "data-toggle" => "collapse", type: "button"}
    %span.icofont-navigation-menu
  #nav2xale.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.d-block.d-md-none
        .search-navbar
          %form.form-inline
            .input-group
              %input.form-control{ type: 'search', placeholder: 'Buscar' }
              .input-group-prepend
                %i.icofont-search.input-group-text
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
          Categorías
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          .row
            - @categories.in_groups_of(3).each do |block|
              .col-lg-2
                / %a.dropdown-item.dropdown-category{href: "#"} Categorías
                / .dropdown-divider
                - block.compact.each do |category|
                  %a.dropdown-item.dropdown-subcategory{href: app_category_path(category)}= category&.name
        -# %li.nav-item
        -#   %a.nav-link{href: "/about"} Nosotros
        %li.nav-item
          %a.nav-link{href: "/about"} Contáctanos
    %ul.navbar-nav.ml-auto.navbar-contact
      %li.nav-item
        %a.nav-link{href: "#"}
          %i.icofont-email
          servicioalcliente@2xale.com
      %li.nav-item
        %a.nav-link{href: "#"}
          %i.icofont-phone
          +58 4120640761 / 414 6300761
