- if ad.nil?
	.ad_banner_full{ style: "background-image: url('/assets/keppler_frontend/app/Banner1252x200.png')" }
- else
	%a{ href: ad&.url, target: '_blank' }
		.ad_banner_full{ style: "background-image: url('#{ad.image.url}')" }