- if ad.nil?
	.ad_half{ style: "background-image: url('/assets/keppler_frontend/app/MediaBanner612x200_1.png')" }
- else
	%a{ href: ad&.url, target: '_blank' }
		.ad_half{ style: "background-image: url('#{ad.image.url}')"}