- if ad.nil?
	.ad_banner_full{ style: 'background-image: url("https://juzarraga.files.wordpress.com/2012/01/mcd_mcbites.jpg")' }
- else
	%a{ href: ad&.url, target: '_blank' }
		.ad_banner_full{ style: "background-image: url('#{ad.image.url}')" }