// Publicity Stylesheets
= stylesheet_link_tag 'keppler_publicity/application', media: 'all', 'data-turbolinks-track': true
// Publicity Javascripts
= javascript_include_tag 'keppler_publicity/application', 'data-turbolinks-track': true