%section.about_contact
  .container
    .row
      .col-lg-6
        .about-box
          .logo
            %img{ src: '/assets/keppler_frontend/app/logo_2xale_color2.svg', alt: '2xale logo' }
          %p.about-text 2xale, surge de la combinación de un día de unión y compromiso y del nombre propio de su creador; con el sueño de ser una marca reconocida en el mundo y con la iniciativa de brindar apoyo a quienes se les dificulta la venta de diversos productos, siendo el enlace más confiable entre el vendedor y el comprador; además de ofrecer el impulso de negocios y empresas a través de la publicidad en nuestra página web.
          .row
            .col-lg-6
              .about-item
                %i.icofont-badge
                %h1 Misión
                %ul
                  %li Dar a conocer el propósito de nuestra marca en el mundo a través de diversos artículos
                  %li Ayudar a nuestros clientes a difundir y lograr la venta de diversos productos de manera efectiva.
                  %li Proveer servicios de publicidad con la más alta calidad y la más amplia cobertura para generar el mayor desarrollo de su negocio.
                  %li Concienciar a la humanidad en base a los principios y valores éticos y morales; así como el cuidado y preservación de nuestro planeta.
            .col-lg-6
              .about-item
                %i.icofont-eye
                %h1 Visión
                %p Ser una marca vanguardista que logre el reconocimiento de los más exigentes y un portal web elegido a nivel mundial por nuestra innovación, soluciones y servicios que contribuyen en la sociedad el crecimiento del sector empresarial y comercial; demostrando calidad humana y profesionales fundamentada en la integridad, calidad y productividad.
      .col-lg-6
        .contact-box
          %h1.title Contacta con nosotros!
          = simple_form_for @message, url: app_message_contact_path, html: {id: 'contact_form'}, method: :post do
            .form-group
              %label Nombre
              %input.form-control{name: 'name'}
            .form-group
              %label Correo Electrónico
              %input.form-control{name: 'email'}
            .form-group
              %label Asunto
              %input.form-control{name: 'subject'}
            .form-group
              %label Teléfono
              %input.form-control{name: 'phone'}
            .form-group
              %label Mensaje
              %textarea.form-control{name: 'message'}
            = recaptcha_tags
            %input.btn.btn-product{value: 'Enviar', type: 'submit'}
- if flash[:notice].eql?("Mensaje enviado")
  :javascript
    Swal.fire({
      type: 'success',
      title: 'Mensaje enviado con exito'
    })
- if flash[:recaptcha_error].eql?("Oh! It's error with reCAPTCHA!")
  :javascript
    Swal.fire({
      type: 'error',
      title: '¡Lo siento!',
      text: 'Hubo un error en el reCAPTCHA, tu mensaje no ha sido enviado.'
    })
:javascript
  $('#contact_form').validate({
    event: 'blur',
    errorClass: 'error-class',
    validClass: 'valid-class',
     rules: {
       'name': { required: true},
       'email': { required: true, email: true},
       'subject': {required: true},
       'phone': {required: true, number: true},
       'message': {required: true},
      },
     messages: {
       'name': 'Indica tu nombre',
       'email': 'Indica tu correo',
       'subject': 'Asunto',
       'phone': 'Indica tu teléfono',
       'message': 'Escribe un mensaje'
      },
    debug: true,errorElement: 'label',
    submitHandler: function(form){
      form.submit();
    }
  });