%header
  / Cabecera de la pagina
  .container
    / navbar
    %nav.navbar.navbar-expand-lg.navbar-light
      %a.navbar-brand{:href => "#"} 2XALE
      %form.form-inline.barra-buscador.my-2.my-lg-0
        %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Buscador", :type => "search"}/
        %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"}
          %i.fa.fa-search
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item.info-header.active
            %p
              %i.fa.fa-whatsapp
              +584120640761 / 414 6300761
            %p
              %i.fa.fa-envelope
              servicioalcliente@2xale.com
    %nav.navbar.navbar-expand-lg.navbar-secundario.navbar-light
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item.active
            %a{:href => ""} Inicio
          %li.nav-item.active
            %a{:href => ""} Contacto
          %li.nav-item.active
            %a{:href => ""} About Us
%section.sp-slider
  / Slider Principal
  .slider-inicial
    .imagen-slider-inicial{:style => "background-image: url('/assets/keppler_frontend/app/img-01.png');"}
      .cont-articulos-slide
        %h1 Zapatos Lacoste
        %p El mejor estilo que puede llevar un caballero, en pleno 2019.
        %button Comprar
    .imagen-slider-inicial{:style => "background-image: url('/assets/keppler_frontend/app/img-03.png');"}
      .cont-articulos-slide
        %h1 Control de PS4
        %p Pasa horas de diversion con el PS4.
        %button{:href => ""} Comprar
%section.sp-publicidad-a
  / Primera publicidad
  .container
    .publicidad-01
      .text-center PUBLICIDAD
%section.sp-cards
  / Cards de productos y publicidad del sidebar
  .container
    .row
      .col-md-12
        .row
          .col-md-3
            .card-inicio
              / card
              .img-card-inicio{:style => "background: url('/assets/keppler_frontend/app/img-01.png');"}
              .contenedor-texto-card
                %span Calzado - 
                %i.fa.fa-search 
                %span Punto Fijo
                %h3 Zapato Lacoste
                %h2 44.000$
                %p Contador de Dias para caducar
                %button Comprar
          .col-md-3
            .card-inicio
              / card
              .img-card-inicio{:style => "background: url('/assets/keppler_frontend/app/img-02.png');"}
              .contenedor-texto-card
                %span Calzado - 
                %i.fa.fa-search 
                %span Punto Fijo
                %h3 Zapato Lacoste
                %h2 44.000$
                %p Contador de Dias para caducar
                %button Comprar
          .col-md-3
            .card-inicio
              / card
              .img-card-inicio{:style => "background: url('/assets/keppler_frontend/app/img-03.png');"}
              .contenedor-texto-card
                %span Calzado - 
                %i.fa.fa-search 
                %span Punto Fijo
                %h3 Zapato Lacoste
                %h2 44.000$
                %p Contador de Dias para caducar
                %button Comprar
          .col-md-3
            %div.publicidad-02 PUBLICIDAD
%footer
  / Footer 

:javascript
  $(document).ready(function(){
    $('.slider-inicial').slick({
      slidesToScroll: 1,
      dots: true,
      autoplaySpeed: 4000,
      infinite: true,
      autoplay: true,
    });
  });

:javascript
function ConteoRegresivo()
{
    var fecha=new Date('2014','5','12','15','00','00')
    var hoy=new Date()
    var dias=0
    var horas=0
    var minutos=0
    var segundos=0
    if (fecha>hoy)
    {
        var diferencia=(fecha.getTime()-hoy.getTime())/1000
        dias=Math.floor(diferencia/86400)
        diferencia=diferencia-(86400*dias)
        horas=Math.floor(diferencia/3600)
        diferencia=diferencia-(3600*horas)
        minutos=Math.floor(diferencia/60)
        diferencia=diferencia-(60*minutos)
        segundos=Math.floor(diferencia)
        document.getElementById('contador').innerHTML = '' + dias + ' : ' + horas + ' : ' + minutos + ' : ' + segundos + '

Días  -  Horas  -  Minutos - Segundos';
        if (dias>0 || horas>0 || minutos>0 || segundos>0)
        {
            setTimeout("ConteoRegresivo()",1000)
        }
    }
    else
    {
        document.getElementById('contador').innerHTML = '0 Días 
¡Comenzo el Mundial Brasil 2014!';
    }
}