%section.sp-vista-productos
	.container
		.row
			.col-md-4
				%ol.breadcrumb
					%li.breadcrumb-item
					%a{:href => "#"} Inicio 
					%li.breadcrumb-item
					%a{:href => "#"} PS4 
					%li.breadcrumb-item
					%a{:href => "#"} Video 
			.col-md-8
				Publicidad 

		%section.producto-general          
			.row
				.col-md-4
					.cont-producto-a
						.slider-productos
							.imagen-slider-productos{:style => "background-image: url('/assets/keppler_frontend/app/ps4-01.png');"}
							.imagen-slider-productos{:style => "background-image: url('/assets/keppler_frontend/app/ps4-02.jpg');"}
							.imagen-slider-productos{:style => "background-image: url('/assets/keppler_frontend/app/ps4-03.png');"}
							.imagen-slider-productos{:style => "background-image: url('/assets/keppler_frontend/app/ps4-04.png');"}
						.slider-nav 
							.imagen-slider-productos-nav{:style => "background-image: url('/assets/keppler_frontend/app/ps4-01.png');"}
							.imagen-slider-productos-nav{:style => "background-image: url('/assets/keppler_frontend/app/ps4-02.jpg');"}
							.imagen-slider-productos-nav{:style => "background-image: url('/assets/keppler_frontend/app/ps4-03.png');"}
							.imagen-slider-productos-nav{:style => "background-image: url('/assets/keppler_frontend/app/ps4-04.png');"}
				.col-md-8
					.cont-producto-b
						.row
							.col-6
								%h3 Ps4 con su Control
								%p.parrafo-a 
									Modelo:
									%span V.2 
								%p.parrafo-a  
									Tipo de Producto:
									%span Electronico
								%p.parrafo-producto PS4 nuevo de paquete con su control inalanbirco, contiene 360gb de memoria en el disco duro, con la capacidad nueva de cargar el control para que dure hasta 10 horas de juegos continuos.
							.col-6
								%h3 Información del Vendedor
						%h4 400.00$
						%button Comprar
						

