%section.sp-vista-productos
    .container
        %ol.breadcrumb
            %li.breadcrumb-item
            %a{:href => "#"} Home / 
            %li.breadcrumb-item
            %a{:href => "#"} Library / 
            %li.breadcrumb-item
            %a{:href => "#"} Categoria / 

        %section.producto-general          
            .row
                .col-md-4
                    .cont-producto-a
                        .slider-productos
                            .imagen-slider-productos{:style => "background-image: url('/assets/keppler_frontend/app/ps4-01.png');"}
                            .imagen-slider-productos{:style => "background-image: url('/assets/keppler_frontend/app/ps4-02.jpg');"}
                            .imagen-slider-productos{:style => "background-image: url('/assets/keppler_frontend/app/ps4-03.png');"}
                            .imagen-slider-productos{:style => "background-image: url('/assets/keppler_frontend/app/ps4-04.png');"}
                        .slider-nav 
                            .imagen-slider-productos-nav{:style => "background-image: url('/assets/keppler_frontend/app/ps4-01.png');"}
                            .imagen-slider-productos-nav{:style => "background-image: url('/assets/keppler_frontend/app/ps4-02.jpg');"}
                            .imagen-slider-productos-nav{:style => "background-image: url('/assets/keppler_frontend/app/ps4-03.png');"}
                            .imagen-slider-productos-nav{:style => "background-image: url('/assets/keppler_frontend/app/ps4-04.png');"}
                .col-md-6
                    .cont-producto-b
                        %h2 Ps4 con su Control
                        %span Modelo
                        %p Tipo de modelo 
                        %span Condicion 
                        %p tipo de producto 
                        %p.parrafo-producto Lorem ipsum dolor sit amet consectetur adipisicing elit. At, reprehenderit voluptatibus! Doloremque, non. Optio, voluptates! Sunt quis ducimus laboriosam, dolore tempore, repudiandae eveniet beatae quas, cum hic illum repellat tenetur?
                        %h4 precio
                .col-md-2
                    .cont-producto-c 
                        PUBLICIDAD o OTRA COSA