// Title & Meta tags
= render 'layouts/keppler_frontend/app/layouts/meta_tags'
// Stylesheets
%link{ :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css", :rel => "stylesheet"}/
%link{ :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css", :rel => "stylesheet"}/
%link{ :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css", :rel => "stylesheet"}/
%link{ href: "https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css", rel: "stylesheet"}/
= stylesheet_link_tag 'keppler_frontend/app/application', media: 'all', 'data-turbolinks-track': 'reload' , async: true
// Javascripts
= javascript_include_tag 'keppler_frontend/app/application', 'data-turbolinks-track': 'reload'
// Google Analytics
= render 'layouts/keppler_frontend/app/layouts/google_analytics'
