!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{:name => "description", :content => '2xale'}
    %meta{:name => "keywords", :content => 'venta, compra'}/
    = set_head
  %body
    = render 'keppler_frontend/app/partials/navbar'
    = yield
    = render 'keppler_frontend/app/partials/footer'
    // Boostrap CDN
    %script{ :src => "https://code.jquery.com/jquery-3.3.1.min.js" }
    %script{ :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{ :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"}
    %script{ src: 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js' }
    :javascript
      $("#return-to-top").click(function() {
        console.log('aaah')
        $("body,html").animate({
          scrollTop: 0
        }, 500)
      })
      WebFont.load({
        google: {
          families: ['Quicksand:300,400,500,600,700']
        }
      });
      $('.home-slider').slick({
        slidesToScroll: 1,
        slidesToShow: 1,
        dots: true,
        autoplaySpeed: 4000,
        pauseOnHover: false,
        infinite: true,
        autoplay: true,
        arrows: false,
        fade: true
      });

      $('.categories-carousel').slick({
        slidesToScroll: 1,
        slidesToShow: 3,
        dots: false,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 3000,
        arrows: false,
        pauseOnHover: false,
        arrows: false,
        responsive: [
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1,
              arrows: false
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false
            }
          }
        ]
      });

      $('.left').click(function(){
        $('.categories-carousel ').slick('slickPrev');
      })

      $('.right').click(function(){
        $('.categories-carousel ').slick('slickNext');
      })

      var adBlockEnabled = false;
      var testAd = document.createElement('div');
      testAd.innerHTML = '&nbsp;';
      testAd.className = 'adsbox';
      document.body.appendChild(testAd);
      window.setTimeout(function() {
        if (testAd.offsetHeight === 0) {
          adBlockEnabled = true;
        }
        testAd.remove();
        if (adBlockEnabled) {
          $('.ad_full').css('background-image', "url('/assets/keppler_frontend/app/adBlocker_RobaPagina.png')")
          $('.ad_full-product').css('background-image', "url('/assets/keppler_frontend/app/adBlocker_RobaPagina.png')")
          $('.ad_half').css('background-image', "url('/assets/keppler_frontend/app/adBlocker_MediaBanner.png')")
          $('.ad_banner_full').css('background-image', "url('/assets/keppler_frontend/app/adBlocker_Banner.png')")
        }
      }, 100);