!!!
%html
  %body
    = set_head
    = render 'keppler_frontend/app/partials/navbar'
    = yield
    -# = render 'keppler_frontend/app/partials/footer'
    // Boostrap CDN
    %script{ :src => "https://code.jquery.com/jquery-3.3.1.min.js" }
    %script{ :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{ :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"}
    %script{ src: 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js' }
    :javascript
      WebFont.load({
        google: {
          families: ['Quicksand:300,400,500,600,700']
        }
      });
      $('.home-slider').slick({
        slidesToScroll: 1,
        slidesToShow: 1,
        dots: true,
        autoplaySpeed: 4000,
        pauseOnHover: false,
        infinite: true,
        autoplay: true,
        arrows: false,
        fade: true
      });

      $('.categories-carousel').slick({
        slidesToScroll: 1,
        slidesToShow: 3,
        dots: false,
        infinite: true,
        autoplay: false,
        arrows: false,
        responsive: [
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });

      $('.left').click(function(){
        $('.categories-carousel ').slick('slickPrev');
      })

      $('.right').click(function(){
        $('.categories-carousel ').slick('slickNext');
      })

      const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

      let countDown = new Date('Sep 30, 2019 00:00:00').getTime(),
      x = setInterval(function() {
        let now = new Date().getTime(),
        distance = countDown - now;
        
          document.getElementById('days').innerText = Math.floor(distance / (day)),
          document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute));
          
        }, second)