// Products
.product-card {
  font-family: $quicksand;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  border-radius: 5px;
  height: 550px;
  margin-bottom: 50px;
  transition: all ease-in-out .3s;
  position: relative;

  &:hover {
    transition: all ease-in-out .3s;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
    .product-footer {
      transition: all ease-in-out .3s;
      text-decoration: none;
      background-color: $blue;
      color: $white;
    }
  }

  .product-image {
    @include bg(cover, no-repeat, center);
    @include size(100%, 50%);
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .badge {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 16px;
    }
  }

  .product-price {
    color: $blue;
    font-weight: $bold;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .product-content {
    @include size(100%, 50%);
    padding: 20px;
    position: relative;
    text-align: center;

    small {
      color: $dark-gray;
    }

    a {
      &:hover {
        text-decoration: none;
      }

      h4 {
        font-weight: $medium;
        color: #484848;
      }
    }
  }

  .product-footer {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
    align-items: center;
    justify-content: center;
    background-color: $white;
    color: $blue;
    padding: 10px;
    transition: all ease-in-out .3s;

    .btn-more {
      font-weight: $bold;
    }
  }

  .counter {
    display: flex;
    justify-content: center;

    ul {
      padding-left: 0;
      margin-bottom: 0;
    }

    li {
      display: inline-block;
      list-style: none;
      text-align: center;
      font-weight: $medium;
      padding-right: 10px;
      font-size: 13px;
      color: #484848;

      span {
        display: block;
      }
    }
  }
}

// Categories
.categories-text {
  position: relative;
  height: 100%;

  @include respond-to(xs) {
    height: 200px;
  }

  @include respond-to(sm) {
    height: 200px;
  }

  span {
    font-family: $quicksand;
    @include respond-to(xs) {
      display: none;
    }
    @include respond-to(sm) {
      display: none;
    }
  }

  .carousel-buttons {
    position: absolute;
    bottom: 60px;

    @include respond-to(xs) {
      bottom: 40px;
    }
  }

  .left, .right {
    background-color: rgba($blue, .8);
    color: $white;
    border-radius: 5px;
    font-size: 30px;

    &:focus, &:hover {
      background-color: $blue;
      outline: none;
      box-shadow: 0 0 0 transparent;
    }
  }
}

.categories-carousel, .row-no-margin {
  @include respond-to(xs) {
    margin-left: 0;
    margin-right: 0;
  }
}

.category-card {
  @include size(100%, 500px);
  position: relative;
  border-radius: 5px;
  padding: 0 15px;

  @include respond-to(xs) {
    padding: 0;
  }

  img {
    @include size(100%);
    object-fit: cover;
    border-radius: 5px;
  }

  .category-content {
    background: linear-gradient(0deg, rgba($black, .8) 0%, transparent 50%);
    top: 0;
    @include size(calc(100% - 30px), 100%);
    position: absolute;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: flex-end;
    color: $white;
    padding:  50px 20px;

    @include respond-to(xs) {
      @include size(100%);
    }

    &:hover {
      text-decoration: none;
    }

    h4 {
      text-transform: uppercase;
      font-family: $quicksand;
      font-weight: $bold;
      font-size: 28px;
    }

    span {
      color: $white;
      font-family: $quicksand;
      font-weight: $medium;
      font-size: 18px;
    }
  }
}
