.product-card {
  font-family: $quicksand;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  border-radius: 5px;
  height: 400px;
  margin-bottom: 30px;
  
  .product-image {
    @include bg(cover, no-repeat, center);
    @include size(100%, 40%);
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    .badge {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 16px;
    }
  }

  .product-price {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $white;
    color: $blue;
    font-weight: $bold;
    font-size: 22px;
    padding: 5px 10px;
    border-top-left-radius: 10px;
  }

  .product-content {
    @include size(100%, 60%);
    padding: 20px;

    small {
      color: $dark-gray;
    }

    a {
      &:hover {
        text-decoration: none;
      }

      &.btn-more {
        color: $green;
        float: right;
        font-weight: $bold;
      }

      h4 {
        font-weight: $semi-bold;
        color: $green;
      }
    }
  }

  .product-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .description-text {
      @include truncate(90px, 3);
    }
  }

  .counter {
    display: flex;
    justify-content: center;
    float: left;

    ul {
      padding-left: 0;
      margin-bottom: 0;
    }

    li {
      display: inline-block;
      list-style: none;
      text-align: center;
      font-weight: $medium;
      padding-right: 10px;
      font-size: 13px;

      span {
        display: block;
      }
    }
  }
}