.banner-category {
  position: relative;

  .search-input {
    transform: translateY(-50%);
  }
}

.banner-category-box {
  @include size(100%, 250px);
  padding-bottom: 20px;
  display: flex !important;
}

.banner-category-inner {
  @include size(60%, 100%);
  background-color: rgba($green, 1);
  position: relative;
  border-radius: 0 10px 10px 0;
  margin-top: 10px;
  @include respond-to(xs) {
    width: 100%;
    border-radius: 0;
    margin-top: 0;
  }

  img {
    @include size(100%);
    border-radius: 0 10px 10px 0;
    object-fit: cover;
    opacity: 0.6;
    filter: grayscale(100%);
    position: relative;
    @include respond-to(xs) {
      border-radius: 0;
    }
  }

  .banner-category-mask {
    @include size(100%);
    display: flex;
    top: 0;
    padding: 20px 50px;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    border-radius: 0 10px 10px 0;
    box-shadow: 1px 1px 10px rgba($green, .5);
    @include respond-to(xs) {
      border-radius: 0;
      padding: 20px;
    }

    h1 {
      text-transform: uppercase;
      font-family: $quicksand;
      font-weight: $semi-bold;
      color: $white;
      width: 70%;
      font-size: 40px;
      text-shadow: 0px 5px 5px rgba($black, .2);
      @include respond-to(xs) {
        font-size: 30px;
        text-align: center;
        width: 100%;
      }
    }
  }
}
