@import 'variables';

.sp-footer{
background: $colorSecundario;
width: 100%;
padding: 3rem 0 0 0;
color: $colorPrimario;
.about-footer{
    margin-bottom: 2rem;
}
    h4{
    padding-bottom: 1rem;
    font-size: 3.5rem;
    font-family: $font-primary;
    font-weight: bold;  
    border-bottom: 1px solid $colorPrimario;
    width: 50;
    margin-bottom: 1.5rem;
    }
    p{
        font-size: 1.2rem;
        font-family: $font-primary;
        font-weight: 500;
    }
    .sp-links-footer{
        padding: 1rem 0;
        i{
            font-size: 2.2rem;
        }
        span{
            font-size: 1.2rem;
            font-family: $font-primary;
            font-weight: 500;
            padding-left: 1rem;
        }
    }
    .copy-footer{
        text-align: center !important;
        padding: 0.4rem 0;
    }
    img{
        width: 240px;
    }
    a{
        color: $colorPrimario;
        padding: 0 1rem 0 0;
        &:hover{
            color: $colorPrimario;
        }
    }
}