.navbar {
  padding: 10px 50px;
  position: relative;
  @include respond-to(xs) {
    padding: 10px 20px;
  }

  &.navbar-variant {
    box-shadow: 0 0 10px rgba($blue, .3);
  }
}

.navbar-brand {
  img {
    width: 70px;
  }
}

.nav-item {
  .nav-link {
    text-transform: uppercase;
    font-weight: $semi-bold;
    font-family: $quicksand;
    color: $blue;
  }
}

.dropdown-menu {
  padding: 20px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  width: 60vw;
  font-family: $quicksand;
  @include respond-to(xs) {
    box-shadow: 0 0 0 transparent;
    width: 100%;
    padding: 5px
  }

  .dropdown-category {
    font-weight: $medium;
    
    &:hover {
      color: $blue;
    }
  }
}

.navbar-contact .nav-link {
  text-transform: inherit;
  font-weight: $regular;
}

.navbar-collapse {
  @include respond-to(xs) {
    position: absolute;
    background-color: white;
    z-index: 2;
    top: 82px;
    width: 100%;
    left: 0px;
    padding: 20px;
  }
}

.navbar-toggler {
  &:focus {
    outline: none;
  }
  span {
    color: $light-green;
    font-size: 30px;
  }
}

.search-navbar {
  .input-group {
    width: 100% !important;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .form-control {
    border: 0;
    font-family: $quicksand;
    border-radius: 10px;
    padding: 6px 20px;

    &::placeholder {
      font-family: $quicksand;
      font-weight: $semi-bold;
    }

    &:focus{ 
      box-shadow: 0 0 0 transparent;
      border: 2px solid $blue;
    }
  }

  .input-group-prepend {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 60px;

    .input-group-text {
      width: 60px;
      background-color: $blue;
      color: $white;
      border: 0;
      font-weight: $bold;
      font-size: 18px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      @include flex-center();
    }
  }
}