$colorPrimario: #fff;
$colorSecundario: #333333ff;
$colorTercero:#2670ca;
$colorCuarto: #a8d42e;
$colorQuinto: #469224;
$bgPrimario: rgba(44, 44, 44, 0.5);
$bgSecundario: #e6e6e6ff;
$bgTercero: rgba(22,21,21, 0.5);
$font-primary: 'Raleway', sans-serif;